.product-table {
  table-layout: fixed;

  .product-row {
    cursor: pointer;
  }

  .product-image {
    background-color: #fff;
    height: 48px;
  }

  th,
  td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
  }

  .product-image-col {
    text-align: center;
    width: 72px;
  }

  .product-name-col {
    min-width: 200px;
  }

  .product-media-col {
    min-width: 100px;
  }

  .product-release-col {
    min-width: 100px;
  }

  .product-price-col {
    width: 110px;
  }

  .product-stock-col {
    min-width: 100px;
  }

  .product-delete-col {
    width: 84px;
    text-align: right;
  }
}

@include media-breakpoint-down(sm) {
  .product-desc-col {
    display: none;
  }
}
